:root {
  --primary-color: #1e3d58;
  --second-color: #ffffff;
  --yellow-color: #e1b959;
  --blue-color: #7cb5da;
  --red-color: #a53d34;
}
html {
  background-color: var(--primary-color);
}
body {
  color: var(--second-color);
  font-family: sans-serif;
}
header {
  width: 70%;
  margin: auto;
  padding-top: 1.2rem;
}
.barra {
  display: flex;
}
.content {
  display: block;
  width: 100%;
  padding: 5px;
}
.yellow {
  background-color: var(--yellow-color);
}
.blue {
  background-color: var(--blue-color);
}
.red {
  background-color: var(--red-color);
}
main {
  width: 70%;
  margin: auto;
}
a {
  display: block;
  color: var(--second-color);
  padding: 0.7rem 0;
}
.img-content {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
