:root {
  --primary-color: #203f58;
  --second-color: #ffffff;
}
body {
  background-color: var(--primary-color);
  color: var(--second-color);
  font-family: sans-serif;
}
header {
  width: 70%;
  margin: auto;
  padding-top: 1.2rem;
}
main {
  width: 70%;
  margin: auto;
}
a {
  color: var(--second-color);
}
